
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <text>輸入你der名字 : </text><br/>
        <textarea id="chatRoomID"></textarea>
        <button type="submit" value="發送" onclick="@Url.Action("GetChatRoom", "Sam")"/>

    </div>
</body>
</html>
